ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Chosunilbo_myungjo";
}

:root {
  --font-size-small: 0.5rem;
  --font-size-semi-regular: 0.75rem;
  --font-size-regular: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;
  --pd20: 20px;
  --pdb20: 20px;
  --pdb40: 40px;
  --pdt20: 20px;
  --pdt40: 20px;
}

@media (min-width: 480px) {
  :root {
    --font-size-semi-regular: 1rem;
    --font-size-regular: 1.25rem;
    --font-size-medium: 2rem;
    --font-size-large: 2.75rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-semi-regular: 1.25rem;
    --font-size-regular: 1.5rem;
    --font-size-medium: 2.5rem;
    --font-size-large: 3.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

h1 {
  font-size: var(--font-size-large);
}
h2 {
  font-size: var(--font-size-medium);
}
h3,
p,
a {
  font-size: var(--font-size-regular);
}
h4 {
  font-size: var(--font-size-semi-regular);
}
span {
  font-size: var(--font-size-small);
}
button {
  border: none;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card_1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* .card_1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgb(47 124 187);
} */

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* 패딩 */
.pd20 {
  padding: var(--pd20);
}
.pdb20 {
  padding-bottom: var(--pd20);
}
.pdb40 {
  padding-bottom: var(--pdb40);
}

.responsive_container {
  background: #000;
  margin: 0 auto;
  padding: 10px;
}

.dot-bottom,
.dot-top,
.dot-top-bottom,
.dot-bottom-top {
  position: relative;
}
.dot-bottom span,
.dot-top-bottom span,
.dot-bottom-top span,
.dot-top span {
  background: #fff;
  text-indent: -9999px;
  width: 5px;
  height: 5px;
}

.dot-bottom-top span:first-child,
.dot-bottom span:first-child,
.dot-top span:first-child {
  position: absolute;
  left: -1.5px;
  top: -2px;
}
.dot-bottom-top span:last-child,
.dot-bottom span:last-child,
.dot-top span:last-child {
  position: absolute;
  right: -1.5px;
  top: -2px;
}
.dot-top-bottom span:first-child {
  background: #000;
  left: 2px;
  bottom: -10px;
  position: absolute;
}
.dot-top-bottom span:last-child {
  background: #000;
  right: 2px;
  bottom: -10px;
  position: absolute;
}
.dot-bottom-top span:first-child {
  position: absolute;
  left: 1px;
  top: -6px;
  background: #000;
  width: 4px;
  height: 4px;
}
.dot-bottom-top span:last-child {
  position: absolute;
  right: 1px;
  top: -6px;
  background: #000;
  width: 4px;
  height: 4px;
}

.card_style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.statusbar {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  /* min-width: 339px;
  max-width: 400px; */
  font-family: "Pokemon";
  /* margin: 50px auto 0; */
}
.btn {
  animation: game 0.5s infinite;
  cursor: pointer;
}
.statusbar > div img {
  animation: game 1.5s 2s infinite;
}

.statusbar > div:first-child {
  border-radius: 5px;
  padding-bottom: 10px;
}
.statusbar > div:last-child {
  border-radius: 5px;
  border: 3px solid #000;
  padding: 4px;
  border-bottom: 5px solid #000;
}
.statusbar > div > div.txtBox {
  background: #fff;
  border-radius: 5px;
  border: 3px solid #000;
  border-top: 6px solid #000;
  border-left: 3.5px solid;
  border-right: 3.5px solid;
  color: #000;
  padding: 6px;
}

.statusbar > div > div:last-child p {
  opacity: 1;
}
@keyframes game {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "pokemon";
  src: url(./assets/fonts/pokemon.ttf);
}

@media (min-width: 640px) {
  .responsive_container {
    /* background: blue; */
    padding: 15px;
  }
}

@media (min-width: 1024px) {
  .responsive_container {
    /* background: red; */
    padding: 20px;
  }
}
