ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Chosunilbo_myungjo";
}

:root {
  --font-size-small: 0.5rem;
  --font-size-regular: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;
  --pd20: 20px;
  --pdb20: 20px;
  --pdb40: 40px;
  --pdt20: 20px;
  --pdt40: 20px;
}

@media (min-width: 480px) {
  :root {
    --font-size-regular: 1.25rem;
    --font-size-medium: 2rem;
    --font-size-large: 2.75rem;
  }
}

@media (min-width: 640px) {
}

@media (min-width: 1024px) {
  :root {
    --font-size-regular: 1.5rem;
    --font-size-medium: 2.5rem;
    --font-size-large: 3.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 {
  font-size: var(--font-size-large);
}
h2 {
  font-size: var(--font-size-medium);
}
h3,
p,
a {
  font-size: var(--font-size-regular);
}
span {
  font-size: var(--font-size-small);
}

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* 패딩 */
.pd20 {
  padding: var(--pd20);
}
.pdb20 {
  padding-bottom: var(--pd20);
}
.pdb40 {
  padding-bottom: var(--pdb40);
}

.container {
  background: #ddd;
  margin: 0 auto;
  padding: 10px;
}

@media (min-width: 640px) {
  .container {
    background: blue;
    padding: 15px;
  }
}

@media (min-width: 1024px) {
  .container {
    background: red;
    padding: 20px;
  }
}
